:root {
    --gap: 12px;
    --pad-y: 12px;
    --border-radius: 12px;

    --bg-color: #000;
    --header-color: #fff;

    --warning-color: #f87171;
    --success-color: #4ade80;
    --info-color: #38bdf8;
}

* {
    font: 18px sans-serif;
    user-select: none;
}

body {
    background-color: var(--bg-color);
    margin: var(--gap);
}

*:disabled {
    opacity: 0.5;
    pointer-events: none;
}

h3 {
    margin: 0;
    color: var(--header-color);

    small {
        vertical-align: top;
        font-size: 0.5rem;
    }
}

section {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}

section>* {
    margin-bottom: var(--gap);
}

#charts {
    height: 240px;
    width: 100%;
    box-shadow: 0 0 5px 5px rgb(255 255 255 / 0.2);
    margin-bottom: calc(2*var(--gap));
}

.only-emulated {
    display: none;
}

body.emulated-sensor .only-emulated {
    display: initial;
}

.warn {
    color: var(--warning-color);
}

.stat-card {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: var(--pad-y) var(--gap);
    border-radius: var(--border-radius);
    text-align: center;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    flex: auto;
    overflow-x: auto;

    &.info {
        border-top: 4px solid #38bdf8;
    }

    &.success {
        border-top: 4px solid #4ade80;
    }

    &.warning {
        border-top: 4px solid var(--warning-color);
    }

    .stat-label {
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        opacity: 0.75;
        margin-bottom: 8px;
    }

    .stat-values {
        display: flex;
        justify-content: space-evenly;
    }

    .stat-value {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1;
        font-variant-numeric: tabular-nums;
        &.weak-punches {
            color: var(--warning-color);
        }
        &.strong-punches {
            color: var(--success-color);
        }
        &.punches {
            
        }
    }
}

#buttons-container {
    flex-direction: column;
}

input[type=button] {
    margin-bottom: var(--gap);
    padding: calc(2 * var(--pad-y)) 0;

    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: #0ea5e9;
    outline: none;
}