* {
    font: 18px sans-serif;
}

canvas {
    border: 1px solid #000000;
}

body[data-progress] #start,
body:not([data-progress]) #stop {
    pointer-events: none;
    background-color: #eee;
    border-color: #ccc;
    border-style: solid;
    color: #bbb;
}

input[type=button] {
    padding: 30px 5%;
}

section {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.centered {
    justify-content: center;
}

#charts-container, #config-container {
    position: relative;
    width: 100%;
}

#charts {
    height: 240px;
    width: 100%;
}

.only-emulated {
    display: none;
}

body.emulated-sensor .only-emulated {
    display: initial;
}

.warn {
    background-color: #ff9999;
}