:root {
    --chart-height: 150px;
    --gap: 12px;
    --pad-y: 12px;
    --border-radius: 6px;

    --bg-color: #000;
    --header-color: #fff;

    --warning-color: #f87171;
    --success-color: #4ade80;
    --info-color: #38bdf8;
}

* {
    font: 18px sans-serif;
    user-select: none;
}

body {
    background-color: var(--bg-color);
    margin: var(--gap);
}

*:disabled {
    opacity: 0.5;
    pointer-events: none;
}

h3 {
    margin: 0;
    color: var(--header-color);

    small {
        vertical-align: top;
        font-size: 0.5rem;
    }
}

section {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}

section>* {
    margin-bottom: var(--gap);
}

#charts {
    height: var(--chart-height);
    width: 100%;
    box-shadow: 0 0 3px 3px rgb(255 255 255 / 0.1);
    border: 1px solid rgb(255 255 255 / 0.3);
    border-radius: var(--border-radius);
}

.only-emulated {
    display: none;
}

body.emulated-sensor .only-emulated {
    display: initial;
}

.warn {
    color: var(--warning-color);
}

.stat-card {
    background: rgb(255 255 255 / 0.2);
    border: 1px solid rgb(255 255 255 / 0.3);
    color: #fff;
    padding: calc(0.5*var(--pad-y)) var(--gap);
    border-radius: var(--border-radius);
    text-align: center;
    flex: auto;
    overflow-x: auto;

    .stat-label {
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        opacity: 0.75;
        margin-bottom: calc(0.5*var(--gap));
    }

    .stat-values {
        display: flex;
        justify-content: space-evenly;
    }

    .stat-value {
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1;
        font-variant-numeric: tabular-nums;

        &.weak-punches {
            color: var(--warning-color);
        }

        &.strong-punches,
        &.strong-percent {
            color: var(--success-color);
        }

        &.punches,
        &.average-power {
            color: var(--info-color);
        }
    }
}

#buttons-container {
    flex-direction: column;
    gap: 0;
}

input[type=button] {
    margin-bottom: var(--gap);
    padding: calc(2 * var(--pad-y)) 0;

    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: #0ea5e9;
    outline: none;
    box-shadow: 0 0 5px 5px rgba(14, 165, 233, 0.3);
}